

body {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.transition {
  transition: padding 0.3s linear;
}

.botton {
  width: 200px;
  background-color: #F012BE;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.botton:hover {
  padding: 30px;
}
